# Flutter & Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Firebase
android/app/google-services.json
lib/firebase_options.dart

# macOS
macos/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/

# VS Code
.vscode/